ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-top: 25px;
  padding: 10px;
}
a {
  padding: 8px;
  background-color: #dddddd;
}
body {
    background-image: url("assets/qbkls.png");
    background-color: #cccccc;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    width: auto;
   }

.topnav {
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  width: auto;
  background-color: #ffffff;
  color: #777777;
  text-align: center;
  border-bottom: 2px solid #cccccc;
  
  }

.navcontainer {
  width: 100%;
  background: white;
  margin-bottom: 25px;
}
  
.topnav a {
   height: 100%;
   background-color: #ffffff;
   padding: 15px;
    color: #777777;
    text-align: center;
    text-decoration: black;
    font-size: 17px;
    margin-top: 20px;
    float: right;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #4aaaa5;
  }
#logo {
  position: relative;
  float: left;
  height: 125px;
  width: 100%;
  background: #4aaaa5;
  margin: 0 auto;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
  display: inline-block;
  border-top: 8px solid #4aaaa5;
}